{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Positions List
    <a href="{% url 'task:position-create' %}" class="btn btn-primary link-to-page">
      Create new position
    </a>
  </h1>
  <form action="" method="get" class="form-inline">
    {{ search_form|crispy }}
    <input class="btn btn-secondary" type="submit" value="Search">
  </form>

  {% if position_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>

      {% for position in position_list %}
        <tr>
          <td>{{ position.id }}</td>
          <td>{{ position.name }}</td>
          <td><a href="{% url 'task:position-update' pk=position.id %}">
              Update
            </a>
          </td>
          <td>
            <a style="color: red"
               href="{% url 'task:position-delete' pk=position.id %}">
              Delete
            </a>
          </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
    <p>There are no positions</p>
  {% endif %}
{% endblock %}
