{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Task list
    <a href="{% url 'task:tasks-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
  <form method="get" action="" class="form-inline">
    {{ search_form|crispy }}
    <input class="btn btn-secondary" type="submit" value="Search">
  </form>
  {% if task_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Task type</th>
        <th>Deadline</th>
        <th>Status</th>
        <th>Priority</th>
      </tr>
      {% for task in task_list %}
        <tr>
          <td>{{ task.id }}</td>

          <td><a href="{% url "task:task-detail" pk=task.id %} ">{{ task.name }}</a>
          </td>
          <td>{{ task.task_type }}</td>
          <td>{{ task.deadline }}</td>
          <td>{{ task.status }}</td>
          <td>{{ task.priority }}</td>
        </tr>
      {% endfor %}

    </table>
  {% else %}
    <p>There are no tasks in the service.</p>
  {% endif %}
{% endblock %}
