<ul class="sidebar-nav list-group">
  {% if user.is_authenticated %}
    <li class="list-group-item">User: <a href="{% url "task:worker-detail" pk=user.id %}">{{ user.get_username }}</a></li>
    <li class="list-group-item"><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>
  {% else %}
    <li class="list-group-item"><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
  {% endif %}

  <br>

  <li class="list-group-item"><a href="{% url 'task:index' %}">Home</a></li>
  <li class="list-group-item"><a href="{% url 'task:task-list' %}">All tasks</a></li>
  <li class="list-group-item"><a href="{% url 'task:worker-list' %}">All workers</a></li>
  <li class="list-group-item"><a href="{% url 'task:tasktype-list' %}">All Tasks type</a></li>
  <li class="list-group-item"><a href="{% url 'task:position-list' %}">All Positions</a></li>

</ul>
